@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: Quicksand;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(0, 92, 122) 500px, #D8E6EB 500px);
    height: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
}


header {
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background-color: #FFFFFF;
}

header .profileButton {
    display: inline-block;
    background-color: #1134AD;
    border-radius: 30px;
    border: none;
    padding: 7px 25px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.5em;
}

header .profileButton:hover, header .profileButton:focus {
    background-color: #294fd9;
}

#log-out [style] {
    display: flex !important;
}


header .siteName {
    color: #1134AD;
    font-size: 1.2em;
    margin-top: 1.3em;
}

#user-info {
    float: left;
    padding-right: 20px;
}

h2 {
    color: black;
}

#kommenttiKentta h3 {
    text-align: center;

}

.container-modal {
    display: flex;
    position: relative;
  }

#kommenttiOsio {
    width: 300px;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 40px 25px;
}

#kuvaOsio {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*
#kuvanKuvaus {
    border: 1px solid grey;
    border-radius: 10px;
}*/

#ulKommentti {
    height: 30vh;  
    overflow: scroll;
}


#teeKommentti > form {
    margin-top: 20px;
}

.tykkaaBtn {
    background-color: #a64227;
}

#kuvanKuvaus {
    background-color: rgba(0, 92, 122, 0.1);
    border-radius: 10px;
    margin: 15px 0px;
}

.comments-style{
    margin-bottom: 10px;
}
